apiVersion: v1
kind: Namespace
metadata:
  name: database
  labels:
    purpose: statefulset-demo
---
apiVersion: v1
kind: Namespace
metadata:
  name: monitoring
  labels:
    purpose: daemonset-demo
