# Demo-API conectada ao PostgreSQL
apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-api-db
  namespace: database
spec:
  replicas: 2
  selector:
    matchLabels:
      app: demo-api-db
  template:
    metadata:
      labels:
        app: demo-api-db
    spec:
      containers:
        - name: demo-api
          image: demo-api:v1
          imagePullPolicy: Never
          ports:
            - containerPort: 3000
          env:
            - name: NODE_ENV
              value: "production"
            - name: PORT
              value: "3000"
            - name: DATABASE_URL
              value: "postgresql://demo_user:demo_password@postgres-cluster-rw:5432/demo_db"
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "200m"
              memory: "256Mi"
---
apiVersion: v1
kind: Service
metadata:
  name: demo-api-db-service
  namespace: database
spec:
  selector:
    app: demo-api-db
  ports:
    - port: 3000
      targetPort: 3000
